<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Day1</title>

    <style>
      .red {
        color: red;
      }
      .black {
        color: black;
      }
      .center {
        width: 28%;
        margin: 0 auto;
      }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  </head>
  <body>
    <div class="center" id="app">
        
        <h2>V-for</h2>
        
        <div class="quote" v-for="qt in quotes">
            
            <h3 v-bind:class=" qt.quote.length > 40 ? 'red' : 'black'">
            {{ qt.quote }}
            </h3>
        
            <h4>{{ qt.source }}</h4>
        </div>

        <h2>V-If</h2>

        <div class="quote" v-for="qt in quotes">
            
            <h3 v-if="qt.source.length>0" v-bind:class=" qt.quote.length > 40 ? 'red' : 'black'">
            {{ qt.quote }}
            </h3>
        
            <h4>{{ qt.source }}</h4>
        </div>

        <h2>V-model</h2>

        <input type="radio" name="author" v-model="isAuthor" value="exist">Є
        автор

        <input type="radio" name="author" v-model="isAuthor" value="">Немає
        автора

        <br>

        <div class="quote" v-for="qt in filteredQuotes">

            <h3 v-bind:class=" qt.quote.length > 40 ? 'red' : 'black'">
            {{ qt.quote }}
            </h3>

            <h4>{{ qt.source }}</h4>
        </div>

      <button @click="sortBySource()">Сортувати</button>

    </div>
 </body>

  <script type="text/javascript">
    var quotesArray = [
      {
        quote:
          "This is just a Quote1 This is just a Quote1 This is just a Quote1",
        source: "Christopher",
      },
      {
        quote: "This is just a Quote2",
        source: "Martin",
      },
      {
        quote: "This is just a Quote3",
        source: "Dennis",
      },
      {
        quote: "This is just a Quote4",
        source: "",
      },
      {
        quote: "This is just a Quote5",
        source: "",
      },
    ];

    new Vue({
      el: "#app",
      data: {
        quotes: quotesArray,
        isAuthor: "",
      },
      computed: {
        filteredQuotes: function () {
          return this.quotes.filter((element) => {
            return Boolean(this.isAuthor) == Boolean(element.source);
          });
        },
      },
      methods: {
        sortBySource() {
          this.quotes.sort((a, b) => (a.source > b.source ? 1 : -1));
        },
      },
    });
  </script>
</html>